*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
/*top bar.....................................................................................................................*/
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: burlywood;
}
.p{
    color: burlywood;
}
.top-bar span{
    margin: 0px 5px;
}
.top-bar .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width: 400px;
    height: 30px;
    border: none;
    outline: none;
    background: #eeeeee;
    border-radius: 30px;
    color: #b2bec3;
    font-size: 16px;
    text-align: center;
}
.search-box a{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    border: #a34535;
}
.top-bar ul{
    list-style: none;
    display: flex;
}
.top-bar li{
    margin: 0px 10px;
}
.top-bar a{
    color: black;
}
/*Navigation bar.....................................................................................................................*/
nav{
    background: rgb(117, 77, 3);
    height: 80px;
    width: 100%;
    padding: 0 120px;
}
nav h2{
    font-size: 30px;
    font-family: arial;
    color: rgb(255,255,255);
    float: left;
}
nav ul{
    float: right;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(255,255,255);
    font-size: 17px;
    padding: 25px 30px;
    display: block;
}
nav ul li a:hover{
    background-color:rgb(131, 104, 56);
}
nav ul li .ul{
    position: absolute;
    display: none;
    background-color: rgb(0,0,0);
    border-radius: 0px 0px 5px 5px;
}
nav ul li:hover .ul{
    display: block;
}
nav ul li .ul li{
    line-height: 1;
    width: 190;
    border-radius: 5px;
    padding: 6px;
}
nav ul li .ul li a{
    padding: 10px 16px;
}
nav ul li .ul li a:hover{
    background-color: rgb(131, 104, 56);
}
.checkbtn{
    font-size: 30px;
    color: rgb(255,255,255);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media(max-width:952px){
    h2{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media(max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(10, 10, 70);
        top: 80px;
        left: -100;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a{
        background: none;
        color: rgb(133, 115, 82);
    }
    #check:checked ~ ul{
        left: 0;
    }
}

/*picture add............................................................................................................................*/
.sec{
    background-position: center;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-image: url("w5.jpg");
    background-repeat: no-repeat;
    transition: 5s;
    align-items: center;
}
.pic{
    align-items: center;
    color: white;
    font-size: 30px;
    align-items: center;
}
.pic h3{
    text-align: center;
}
.pic h3 span:nth-child(1){
    color: black;
}
.pic h3 span:nth-child(2){
    color: red;
}
.hero{
    background-color:rgb(255,255,255);
    overflow: hidden;
}
.heading h3{
    color: rgb(118, 42, 189);
    margin-top: 20px;
}
.heading h1{
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.heading h2{
    font-size: 45px;
    text-align: center;
    font-family: arial;
}
.heading p{
    font-size: 30px;
    text-align: center;
    color: rgb(94, 6, 6);
}
.container{
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 80px auto;
}
.herocontant{
    flex: 1;
    width: 600px;
    margin: 0px 50px;
}
.herocontant h3{
    font-size: 20px;
    color: rgb(9, 9, 139);
}
.herocontant p{
    line-height: 1.5;
    font-size: 20px;
    color: rgb(0,0,0);
    text-align: justify;
}
.herocontant .button{
    display: inline-block;
    background-color: rgb(155, 91, 8);
    color: black;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.herocontant .button:hover{
    background-color: #a34535;
    transform: scale(1.1);
}
.herocontant img{
    width: 100px;
    height: 100px;
    border-color: #a34535;
    border-width: 5px;
}
.image{
    flex: 1;
    width: 600px;
    margin: auto;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.image .bb{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: rgb(79, 40, 141);
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.service{
    text-align: center;
}
hr{
    list-style-type: circle;
    width: 1500px;
    height: 5px;
    background-color: black;
}
.service h3{
    color: rgb(221, 11, 11);
    font-size: 30px;
}
.title h2{
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}
.title h2::after{
    content: "";
    height: 4px;
    width: 230px;
    display: block;
    margin: auto;
    background-color: black;
}
.services{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    background-color: rgb(161, 96, 15);
    border-radius: 10px;
    cursor: pointer;
}
.card:hover{
    background-color:rgb(77, 69, 43);
    transition: 0.4s ease;
}
.card .icon{
    font-size: 35px;
    margin-bottom: 10px;
}
.card h2{
    font-size: 28px;
    color: rgb(5, 5, 70);
    margin-bottom: 20px;
}
.card p{
    font-family: arial;
    margin-bottom: 30px;
    line-height: 1;
}
.button{
    font-size: 15px;
    text-decoration: none;
    color: rgb(255,255,255);
    background-color: rgb(79, 40, 141);
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.button:hover{
    background-color: #c94f4f;
    transition: 0.4s ease;
}

/*unlocking............................................................................................................................*/
.un{
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: white;
    line-height: 1.5em;
}

/*footer css..............................................................................................................................*/
footer{
    box-sizing: border-box;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 50%;
    padding: 80px 20px 20px;
}
h2{
    text-align: center;
}
.name h2{
    color: rgb(255,255,255);
}
.social{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.social a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255,255,255);
    margin: 10px;
    border-radius: 50%;
}
.social a li{
    font-size: 2em;
    color: rgb(0,0,0);
    opacity: 0.9;
}
.social a:hover{
    background-color: rgb(0,0,0);
    transition: 0.5s;
}
.social a:hover i{
    color: rgb(255,255,255);
    transition: 0.5s;
}
.botton{
    margin: 30px 0;
}
.botton ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.botton ul li a{
    color: rgb(255,255,255);
    margin: 20px;
    text-decoration: none;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.5s;
}
.botton ul li a:hover{
    opacity: 1;
    background: none;
}
.footerbottom{
    background-color:rgb(19, 17, 17);
    padding: 20px;
    text-align: center;
    width: 100%;
}
.footerbottom p{
    color: rgb(255,255,255);
}
p{
    font-size: 15px;
}
@media (max-width:700px){
    .botton ul{
        flex-direction: column;
    }
    .botton ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}